let LOCALES = {
  es:{
    "i.auth_title":"Autentícate en Escapp",
  },
};

let CONFIG = {
  endpoint:"https://escapp.dit.upm.es/api/escapeRooms/id",
  local_storage_key:"LocalStorageKey",
  imagesPath:"./src/images/",
  I18n: {
    locale: "es",
    default_locale: "es",
    available_locales: ["es","en"],
    locales: LOCALES
  },
  browserRestrictions: {
    chrome: ">20.1.1432",
  },
  browserRestrictionsDefault: true,
  autovalidate: false,
  required_puzzles_ids:[2,3],
};
