.notifyjs-bootstrap-base {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  padding-left: 45px;
  border: 1px solid black;
  opacity: 0.8;
}

.notifyjs-bootstrap-ranking {
  color: #468847;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASJJREFUeNrslrEKwjAQho0FQRAEJ59EUHTxJQQfQHB2cXJ18jFcHVwKQgfxMQRBEASnbqII9Q8cEkJr0xprkAt8UBKafLnLtRFRFJVcboIFWZAFWZAFWfC/BUtSUCdjC+Q0KQR5nWIjKITINJ9ptrIIvk2xS4I2Uqym8gZWwAOhNpYrxbYFT2BI/V8VNDn4SRyLENQXlYsdXBVcggpogvEHgqYEJp8ZtXMC+iTYoUKw1a60eU+LoEirYn1XFzAg0cgSMxKr0fNrTHUpG+xyC3qgDTYWo3cHe7AA66y/OnWnXe2V0GIUz6ABRkkRNE2xbR6gRRHc0Tl0SlAyBXVQBfMkQZMq/sUNK7WK/YKiGIefGkG+UbMgC7IgC7IgCxbWngIMAE8EX7A0Z7+tAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  border-color: black;
}